{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style-edit.css' %}">
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/6b20b1c14d.js" crossorigin="anonymous"></script>
	<title>Editer Contact</title>
</head>
<body>

	<div class="container">
		<header class="hero">
			
			<a href="{% url 'profile' contact.id %}">
			     <i class="fas fa-chevron-circle-left back-btn"></i>
			</a>

			<div class="hero-info">
				<h1 class="name">{{contact.full_name | title}}</h1>
				<p class="relationship-hero">{{contact.relationship | title}}</p>
			</div>
		</header>


		<form action="" method="POST">
			{% csrf_token %}

			<section class="contact-info">

				<div class="info-line">
					<i class="fas fa-user-circle icon-gradient"></i>
					<input type="text" class="type" name="fullname" placeholder="Nom" value="{{contact.full_name}}">
				</div>

				<div class="info-line">
					<i class="fa fa-handshake-o icon-gradient"></i>
					<input type="text" class="type" name="relationship" placeholder="Relation" value="{{contact.relationship}}">
				</div>

			

				<div class="info-line">
					<i class="fas fa-phone icon-gradient"></i>
					<input type="text" class="type" name="phone_number" placeholder="Téléphone" value="{{contact.phone_number}}">
				</div>

				

				<div  class="info-line">
					<i class="fas fa-envelope icon-gradient"></i>
					<input type="text" class="type" name="email" placeholder="Email" value="{{contact.email}}">
				</div>

				

				<div class="info-line">
					<i class="fas fa-map-marker-alt icon-gradient location"></i>
					<input type="text" class="type" name="address" placeholder="Addresse" value="{{contact.address}}">
				</div>
				
			</section>

			<section class="button-container">
				<div class="update-contact">
					<i  class="fas fa-check-circle icon-gradient"></i>
					<button class="button">Enregistrer</button>
				</div>
			</section>

		</form>

		<section class="button-container">
			<a href="{% url 'delete-contact' contact.id %}">
				<div class="update-contact">
					<i class="fas fa-trash icon-gradient"></i>
					<button class="button">Supprimer</button>
				</div>
			</a>
		</section>
	</div>


</body>
</html>
